<div data-role="page">
  <div data-role="header">
    <h1>Interests</h1>
  </div>
  <div data-role="content">
    <ul data-role="listview">
      <% @interests.each do |interest| %>
      <li>
        <%= link_to("#{interest.name} <span class=\"ui-li-count\">#{interest.considerations_count}</span>".html_safe, interest_path(interest))%>
      </li>
      <% end %>
    </ul>
  </div>
</div>