<div data-role="header">
  <h1><%= @interest.name %></h1>
</div>
<div data-role="content">
  <ul data-role="listview">
    <% @locations.each do |location| %>
    <li>
      <%= location.place.name %>
      <br />
      <span class="byline"><%= location.address %></span>
      <span class="ui-li-count"><%= location.distance.round(1) %> kms</span>
    </li>
    <% end %>
  </ul>
</div>